<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
		<title>Develop Scripts</title>
	</head>
	<body>
		<div id="header">
			Develop Scripts
		</div>
		<div class="login-form">
			<h1>Please enter your credential to get Login</h1>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
		<div id="footer">
			Copyright © 2020 Auctionsoftware.com. All rights reserved
		</div>
	</body>
</html>